<launch>

	<!--
    Parameters
    -->
    <rosparam file="$(find hyper_propelled_cow)/launch/parameters/default.yaml" command="load"/>

    <!--
    Nodes
    -->
    <node pkg="hyper_propelled_cow" name="servo_driver" type="servo_driver"/>
    <node pkg="hyper_propelled_cow" name="ultrasonic" type="ultrasonic"/>
    <node pkg="hyper_propelled_cow" name="process_ultrasonic_median" type="process_ultrasonic_median"/>
    <node pkg="hyper_propelled_cow" name="sonar" type="sonar"/>
    <node pkg="hyper_propelled_cow" name="process_sonar_median" type="process_sonar_median"/>
    <node pkg="hyper_propelled_cow" name="sensor_fuser" type="sensor_fuser"/>
    <node pkg="hyper_propelled_cow" name="throttle_driver" type="throttle_driver"/>

</launch>
